#view-index {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-image: url(../images/bg-index.jpg);
  background-size: cover;
  background-position-x: right; }
  #view-index .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); }
  #view-index .painel {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    font-family: 'Montserrat-Light';
    text-align: center;
    color: #fbf2ef;
    border-radius: 5px; }
    @media (max-width: 768px) {
      #view-index .painel {
        width: 95%; } }
    #view-index .painel .titulo1 {
      font-family: 'LongTime';
      font-size: 50px; }
    #view-index .painel .titulo2 {
      font-size: 20px; }
    #view-index .painel .titulo3 {
      padding-top: 50px;
      font-size: 40px; }
    #view-index .painel .cadastrar-se {
      margin-top: -15px;
      margin-bottom: 20px;
      font-size: 15px;
      text-align: end; }
    #view-index .painel form {
      width: 400px;
      margin: 20px auto 0 auto; }
  #view-index .copyright {
    position: absolute;
    bottom: 10px;
    left: 41%;
    font-weight: bold;
    font-size: 13px;
    text-align: center; }
    @media (max-width: 768px) {
      #view-index .copyright {
        left: 35%; } }
  #view-index .btn {
    background-color: rgba(0, 0, 0, 0.1); }

.view-header {
  width: 100%;
  margin-bottom: 50px;
  font-family: 'Montserrat-Regular';
  background-color: #556594;
  box-shadow: 0px 2px 5px black; }
  .view-header .logo {
    margin-left: 100px; }
    .view-header .logo img {
      height: 45px;
      margin-top: 10px;
      cursor: pointer; }
  .view-header .menu {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    color: white; }
    .view-header .menu .item-menu {
      margin: 0px 10px;
      cursor: pointer; }
      .view-header .menu .item-menu a {
        text-decoration: none;
        color: white; }
      .view-header .menu .item-menu .linha {
        width: 0%;
        border-top: 1px solid white;
        transition: width 0.3s; }
      .view-header .menu .item-menu:hover .linha {
        width: 50%; }

.menu-lateral {
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family: 'Montserrat-Regular';
  background-color: White; }
  .menu-lateral a .item-menu {
    text-decoration: none;
    color: black;
    margin: 20px 30px;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid white;
    transition: all 0.3s; }
    .menu-lateral a .item-menu:hover {
      cursor: pointer;
      border: 1px solid #ddd;
      background-color: #eee; }

.view-contato .borda {
  height: 100px;
  width: 100px;
  margin: 0px auto 10px auto;
  border-radius: 100%;
  box-shadow: 2px 2px 5px #aaa; }
  .view-contato .borda .foto {
    height: 100%;
    width: 100%;
    background-image: url("../images/eu.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    border: 4px solid;
    color: rgba(255, 255, 255, 0.8); }

.view-contato .conteudo {
  text-align: center;
  font-family: 'Montserrat-Regular'; }

.view-home {
  font-family: 'Montserrat-Regular'; }

#usuario-view-error {
  margin-top: 100px;
  text-align: center;
  font-family: 'Montserrat-Light'; }
  #usuario-view-error .titulo {
    font-weight: bold;
    font-size: 30px; }
  #usuario-view-error .btn {
    margin-top: 10px; }

#usuario-view-cadastrar {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-image: url(../images/bg-cadastro.jpg);
  background-size: cover;
  background-position-x: right; }
  #usuario-view-cadastrar .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); }
  #usuario-view-cadastrar .painel {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    font-family: 'Montserrat-Light';
    text-align: center;
    color: #fbf2ef;
    border-radius: 5px; }
    @media (max-width: 768px) {
      #usuario-view-cadastrar .painel {
        width: 95%; } }
    #usuario-view-cadastrar .painel .titulo {
      font-family: 'LongTime';
      font-size: 30px; }
    #usuario-view-cadastrar .painel form {
      width: 400px;
      margin: 20px auto 0 auto; }
  #usuario-view-cadastrar .copyright {
    position: absolute;
    bottom: 10px;
    left: 41%;
    font-weight: bold;
    font-size: 13px;
    text-align: center; }
    @media (max-width: 768px) {
      #usuario-view-cadastrar .copyright {
        left: 35%; } }
  #usuario-view-cadastrar .btn {
    background-color: rgba(0, 0, 0, 0.1); }

#usuario-view-listar {
  text-align: center; }
  #usuario-view-listar .titulo {
    margin-bottom: 20px;
    font-size: 25px; }
  #usuario-view-listar .informacoes {
    padding: 30px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 2px #aaa; }
    #usuario-view-listar .informacoes .informacao {
      margin-bottom: 20px; }

#contas-view-listar {
  font-family: 'Montserrat-Light'; }
  #contas-view-listar .painel {
    text-align: center; }
    #contas-view-listar .painel .titulo {
      font-family: 'LongTime';
      margin-bottom: 20px;
      font-size: 25px;
      font-weight: bold; }
    #contas-view-listar .painel .informacoes {
      margin-bottom: 30px;
      padding: 30px 0;
      border-radius: 5px;
      text-align: center;
      background-color: #f9f9f9;
      box-shadow: 1px 1px 2px #aaa;
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
      #contas-view-listar .painel .informacoes .conta {
        margin: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        background-color: #ced5e6; }
        #contas-view-listar .painel .informacoes .conta .informacao-principal {
          padding: 3px 0;
          color: white;
          font-size: 20px;
          font-weight: bold;
          border-radius: 5px;
          background-color: #909cbd; }
        #contas-view-listar .painel .informacoes .conta .informacao {
          font-weight: bold;
          margin: 10px; }
        #contas-view-listar .painel .informacoes .conta button {
          margin-left: 5px; }
      #contas-view-listar .painel .informacoes .campo-adicionar {
        margin: 10px;
        border-radius: 5px;
        background-color: #ced5e6;
        display: flex; }
        #contas-view-listar .painel .informacoes .campo-adicionar:hover {
          cursor: pointer;
          box-shadow: 1px 1px 3px #aaa; }
        #contas-view-listar .painel .informacoes .campo-adicionar a {
          width: 100%; }
          #contas-view-listar .painel .informacoes .campo-adicionar a img {
            margin: 20% auto; }

#contas-view-cadastrar {
  font-family: 'Montserrat-Light';
  text-align: center; }
  #contas-view-cadastrar .titulo {
    font-family: 'LongTime';
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold; }

#despesas-view-listar {
  font-family: 'Montserrat-Light'; }
  #despesas-view-listar .titulo {
    text-align: center;
    font-family: 'LongTime';
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold; }
  #despesas-view-listar .informacoes {
    margin-top: 50px; }
    #despesas-view-listar .informacoes .informacao {
      padding: 10px 0;
      text-align: center;
      border-radius: 5px;
      box-shadow: 1px 1px 4px #ddd; }
      #despesas-view-listar .informacoes .informacao .item {
        font-weight: bold; }
      #despesas-view-listar .informacoes .informacao img {
        width: 40px; }
  #despesas-view-listar .filtros {
    margin-top: 80px; }
  #despesas-view-listar .table {
    margin-top: 10px; }
  #despesas-view-listar .botoes {
    text-align: right; }

#despesas-view-cadastrar {
  font-family: 'Montserrat-Light';
  text-align: center; }
  #despesas-view-cadastrar .titulo {
    font-family: 'LongTime';
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold; }
  #despesas-view-cadastrar input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em; }
  #despesas-view-cadastrar input[type="date"]:focus:before, #despesas-view-cadastrar input[type="date"]:valid:before {
    content: ""; }

#receitas-view-listar {
  font-family: 'Montserrat-Light'; }
  #receitas-view-listar .titulo {
    text-align: center;
    font-family: 'LongTime';
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold; }
  #receitas-view-listar .informacoes {
    margin-top: 50px; }
    #receitas-view-listar .informacoes .informacao {
      padding: 10px 0;
      text-align: center;
      border-radius: 5px;
      box-shadow: 1px 1px 4px #ddd; }
      #receitas-view-listar .informacoes .informacao .item {
        font-weight: bold; }
      #receitas-view-listar .informacoes .informacao img {
        width: 40px; }
  #receitas-view-listar .filtros {
    margin-top: 80px; }
  #receitas-view-listar .table {
    margin-top: 10px; }
  #receitas-view-listar .botoes {
    text-align: right; }

#receitas-view-cadastrar {
  font-family: 'Montserrat-Light';
  text-align: center; }
  #receitas-view-cadastrar .titulo {
    font-family: 'LongTime';
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold; }
  #receitas-view-cadastrar input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em; }
  #receitas-view-cadastrar input[type="date"]:focus:before, #receitas-view-cadastrar input[type="date"]:valid:before {
    content: ""; }

.view-footer {
  margin: 50px 0; }
  .view-footer .descricao {
    text-align: center;
    font-size: 11px;
    font-family: 'Montserrat-Light'; }

@font-face {
  font-family: 'LongTime';
  src: url("../fonts/longtime/LongTime.ttf"); }

@font-face {
  font-family: 'Montserrat-Thin';
  src: url("../fonts/montserrat/Montserrat-Thin.ttf"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/montserrat/Montserrat-Light.ttf"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/montserrat/Montserrat-Regular.ttf"); }
