.view-index {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-image: url(../images/bg-index.jpg);
  background-size: cover;
  background-position-x: right; }
  .view-index .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); }
  .view-index .painel {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    font-family: 'Montserrat-Light';
    text-align: center;
    color: #fbf2ef;
    border-radius: 5px; }
    @media (max-width: 768px) {
      .view-index .painel {
        width: 95%; } }
    .view-index .painel .titulo1 {
      font-family: 'LongTime';
      font-size: 50px; }
    .view-index .painel .titulo2 {
      font-size: 20px; }
    .view-index .painel .titulo3 {
      padding-top: 50px;
      font-size: 40px; }
    .view-index .painel .cadastrar-se {
      margin-top: -15px;
      margin-bottom: 20px;
      font-size: 15px;
      text-align: end; }
    .view-index .painel form {
      width: 400px;
      margin: 20px auto 0 auto; }
  .view-index .copyright {
    position: absolute;
    bottom: 10px;
    left: 41%;
    font-weight: bold;
    font-size: 13px;
    text-align: center; }
    @media (max-width: 768px) {
      .view-index .copyright {
        left: 35%; } }
  .view-index .btn {
    background-color: rgba(0, 0, 0, 0.1); }

.view-header {
  width: 100%;
  margin-bottom: 50px;
  font-family: 'Montserrat-Regular';
  background-color: #556594;
  box-shadow: 0px 2px 5px black; }
  .view-header .logo {
    text-align: center; }
    .view-header .logo img {
      height: 45px;
      margin-top: 10px;
      cursor: pointer; }
  .view-header .menu {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    color: white; }
    .view-header .menu .item-menu {
      margin: 0px 10px;
      cursor: pointer; }
      .view-header .menu .item-menu a {
        text-decoration: none;
        color: white; }
      .view-header .menu .item-menu .linha {
        width: 0%;
        border-top: 1px solid white;
        transition: width 0.3s; }
      .view-header .menu .item-menu:hover .linha {
        width: 50%; }

.view-contato .borda {
  height: 100px;
  width: 100px;
  margin: 0px auto 10px auto;
  border-radius: 100%;
  box-shadow: 2px 2px 5px #aaa; }
  .view-contato .borda .foto {
    height: 100%;
    width: 100%;
    background-image: url("../images/eu.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    border: 4px solid;
    color: rgba(255, 255, 255, 0.8); }

.view-contato .conteudo {
  text-align: center;
  font-family: 'Montserrat-Regular'; }

.view-home {
  font-family: 'Montserrat-Regular'; }
  .view-home .titulo {
    text-align: center;
    font-size: 25px; }

#view-cadastro-usuario {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-image: url(../images/bg-cadastro.jpg);
  background-size: cover;
  background-position-x: right; }
  #view-cadastro-usuario .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); }
  #view-cadastro-usuario .painel {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    font-family: 'Montserrat-Light';
    text-align: center;
    color: #fbf2ef;
    border-radius: 5px; }
    @media (max-width: 768px) {
      #view-cadastro-usuario .painel {
        width: 95%; } }
    #view-cadastro-usuario .painel .titulo {
      font-family: 'LongTime';
      font-size: 30px; }
    #view-cadastro-usuario .painel form {
      width: 400px;
      margin: 20px auto 0 auto; }
  #view-cadastro-usuario .copyright {
    position: absolute;
    bottom: 10px;
    left: 41%;
    font-weight: bold;
    font-size: 13px;
    text-align: center; }
    @media (max-width: 768px) {
      #view-cadastro-usuario .copyright {
        left: 35%; } }
  #view-cadastro-usuario .btn {
    background-color: rgba(0, 0, 0, 0.1); }

.view-footer {
  margin-top: 50px; }
  .view-footer .descricao {
    text-align: center;
    font-size: 11px;
    font-family: 'Montserrat-Light'; }

@font-face {
  font-family: 'LongTime';
  src: url("../fonts/longtime/LongTime.ttf"); }

@font-face {
  font-family: 'Montserrat-Thin';
  src: url("../fonts/montserrat/Montserrat-Thin.ttf"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/montserrat/Montserrat-Light.ttf"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/montserrat/Montserrat-Regular.ttf"); }
