<!doctype html>
<html lang="pt">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="../../css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="../../node_modules/bootstrap/compiler/bootstrap.css">

        <title>Contato</title>
        <link href="../../images/logo-contato.png" rel="icon" type="image/x-png" />
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../../node_modules/jquery/dist/jquery.js"></script>
        <script src="../../node_modules/popper.js/dist/popper.js"></script>
        <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>

        <script> 
            $(function(){
                $("#includeHeader").load("../header/header.html");
                $("#includeFooter").load("../footer/footer.html");
            });
        </script> 
    </head>

    <body>
        <div id="includeHeader"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="view-contato">
                        <div class="borda" >
                            <div class="foto"></div>
                        </div>
                        <div class="conteudo">
                            <p><label style="font-weight: 500">Nome:</label> David Chagas</p>
                            <p><label style="font-weight: 500">Idade:</label> 22 anos</p>
                            <p><label style="font-weight: 500">Cidade:</label> Guaporé</p>
                            <p><label style="font-weight: 500">E-mail:</label> davidmdchagas@hotmail.com</p>
                            <p><label style="font-weight: 500">Telefone:</label> (54) 996947221</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div id="includeFooter"></div>
    </body>
</html>