#receitas-view-listar{
	font-family: 'Montserrat-Light';

	.titulo{
		text-align: center;
		font-family: 'LongTime';
		margin-bottom: 20px;
		font-size: 25px;
		font-weight: bold;
	}

	.informacoes{
		margin-top: 50px;

		.informacao{
			padding: 10px 0;
			text-align: center;
			border-radius: 5px;
			box-shadow: 1px 1px 4px #aaa;
			background-color: #f7f7f7;

			.item{
				font-weight: bold;
			}
			img{
				width: 40px;
			}
		}
	}

	.filtros{
		margin-top: 80px;

		.btn-limpar-filtro{
			text-align: end;

			a{
				color: #333;
			}
		}

		.filtradoPor{
			margin-top: 20px;
			text-align: center;
			font-weight: bold;
			font-size: 25px;
			color: #777;
		}
	}

	.table{
		margin-top: 10px;
	}

	.botoes{
		text-align: right;
	}
}

#receitas-view-cadastrar{
	font-family: 'Montserrat-Light';
	text-align: center;

	.titulo{
		font-family: 'LongTime';
		margin-bottom: 20px;
		font-size: 25px;
		font-weight: bold;
	}
	
	input[type="date"]:before {
		content: attr(placeholder) !important;
		color: #aaa;
		margin-right: 0.5em;
	}
	input[type="date"]:focus:before, input[type="date"]:valid:before {
		content: "";
	}
} 