<!doctype html>
<html lang="pt">
     <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="../../css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href=../../node_modules/bootstrap/compiler/bootstrap.css>

        <title>Projeto Web</title>
        <link href="../../images/logo-php.png" rel="icon" type="image/x-png" />
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../../node_modules/jquery/dist/jquery.js"></script>
        <script src="../../node_modules/popper.js/dist/popper.js"></script>
        <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>

         <script> 
     	    $(function(){
         	    $("#includeHeader").load("../header/header.html");
                $("#includeFooter").load("../footer/footer.html");
     	    });
         </script> 
     </head>

     <body>
       	<div id="includeHeader"></div>
        <div class="container">
       		<div class="row">
       			<div class="col-md-12">
       				<div class="view-home">
       					<div class="titulo">Página inicial</div>
       				</div>
       			</div>
       		</div>
       	</div>
        <div id="includeFooter"></div>
     </body>
</html>