#view-cadastro-usuario{
	position: relative;
    height: 100vh;
    width: 100vw;

    display: flex;

    align-items: center;
    background-image: url(../images/bg-cadastro.jpg);
    background-size: cover;
    background-position-x: right;

    .bg{
    	position: absolute;
    	height: 100%;
    	width: 100%;
		background-color: rgba(0, 0, 0, 0.9);
	}

	.painel{
		width: 70%;
		margin: 0 auto;
		padding: 50px 0;

		font-family: 'Montserrat-Light';
		text-align: center;
		color: #fbf2ef;
		border-radius: 5px;

		@media(max-width: 768px){
			width: 95%;
		}

		.titulo{
			font-family: 'LongTime';
			font-size: 30px;
		}
		
		form{
			width: 400px;
			margin: 20px auto 0 auto;
		}
	}

	.copyright{
		position: absolute;
		bottom: 10px;
		left: 41%;

		font-weight: bold;
		font-size: 13px;
		text-align: center;

		@media(max-width: 768px){
			left: 35%;
		}
	}

	.btn{
		background-color: rgba(0, 0, 0, 0.1);
	}
}