#contas-view-listar{
	font-family: 'Montserrat-Light';

	.painel{
		text-align: center;

		.titulo{
			font-family: 'LongTime';
			margin-bottom: 20px;
			font-size: 25px;
			font-weight: bold;
		}
		.informacoes{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			
			.conta{
				margin: 10px;
				padding-bottom: 10px;
				border-radius: 5px;
				background-color: #ced5e6;
				box-shadow: 2px 2px 3px #999;

				.informacao-principal{
					padding: 10px 0;
					color: white;
					font-size: 20px;
					font-weight: bold;
					text-transform: uppercase;

					border-radius: 5px;
					background-color: #7985a7;
					box-shadow: 1px 2px 4px #666;
				}
				.informacao{
					font-weight: bold;
					margin: 10px;
				}
				button{
					margin-left: 5px;
				}
			}

			.campo-adicionar{
				margin: 10px;
				border-radius: 5px;
				background-color: #ced5e6;
				display: flex;

				box-shadow: 2px 2px 5px #aaa;

				&:hover{
					cursor: pointer;
					box-shadow: 2px 2px 5px #333;
				}
				a{
					width: 100%;

					img{
						margin: 20% auto;
					}
				}
			}
		}
	}
}

#contas-view-cadastrar{
	font-family: 'Montserrat-Light';
	text-align: center;

	.titulo{
		font-family: 'LongTime';
		margin-bottom: 20px;
		font-size: 25px;
		font-weight: bold;
	}
}