<script type="text/javascript">
	// document.getElementById("teste").innerHTML = "Hello JavaScript!";
	function trocarIcone(pagina){
		console.log(pagina);
		if(pagina == 'home'){
			document.getElementById("icones").src="../../images/home.png";
		}else if(pagina == 'contato'){
			document.getElementById("icones").src="../../images/contato.png";
		}
    }
</script>

<div class="view-menu">
	<div id="teste">teste</div>
	<div class="icones">
		<img class="img-responsive" id="icones" onclick="trocarIcone('contato')" src="../../images/home.png">
	</div>
	<div class="itens">
		<a href="../home/home.html"><div class="item"><label>Home<div class="linha"></div></label></div></a>
		<a href="../contato/contato.html"><div class="item"><label>Contato<div class="linha"></div></label></div></a>
	</div>
</div>