<div class="view-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="logo">
					<img src="../../images/php-menu.png" onclick="home()">
				</div>
			</div>
			<div class="col-md-8">
				<div class="menu">
					<div class="item-menu"><a href="../home/home.html">Home</a><div class="linha"></div></div>
					<div class="item-menu"><a href="../../src">Atividades</a><div class="linha"></div></div>
					<div class="item-menu"><a href="../contato/contato.html">Contato</a><div class="linha"></div></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function home(){
		window.location.href = "../home/home.html";
	}
</script>