#categorias-view-listar{
	font-family: 'Montserrat-Light';

	.titulo{
		text-align: center;
		font-family: 'LongTime';
		margin-bottom: 20px;
		font-size: 25px;
		font-weight: bold;
	}

	.table{
		margin-top: 10px;
	}

	.botoes{
		text-align: right;
	}
}

#categorias-view-cadastrar{
	font-family: 'Montserrat-Light';
	text-align: center;

	.titulo{
		font-family: 'LongTime';
		margin-bottom: 20px;
		font-size: 25px;
		font-weight: bold;
	}
} 