.menu-lateral{
	width: 100%;
	
	text-align: center;
	font-family: 'Montserrat-Regular';
	background-color: White;

	border-right: 3px solid #eee;
	
	a{
		
		.item-menu{
			text-decoration: none;
			color: black;
			margin: 20px 30px;
			padding: 10px 0;

			border-radius: 5px;
			border: 1px solid white;
			transition: all 0.3s;

			&:hover{
				cursor: pointer;
				border: 1px solid #ddd;		
				background-color: #eee;	
			}
		}
	}
}